.about {
    margin: 2rem;
    padding: 2rem;
    background-color: lightslategray;
    border-style: inset;
    border-color: black;
    border-radius: 1rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: italic;
    line-height: 2rem;
    font-size: 25px;
  }